#myViewer {
    width: 60%;
    height: 80vh;
    position: relative;
    margin: 20px;
  }
  
  .msp-plugin ::-webkit-scrollbar-thumb {
    background-color: #474748 !important;
    border-radius: 10px;
  }
  